force-app/main/default/flows/FuzzyWuzzy_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FuzzyWuzzy_Scoring</name>
        <label>FuzzyWuzzy Scoring</label>
        <locationX>621</locationX>
        <locationY>69</locationY>
        <actionName>FuzzyWuzzy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FuzzyWuzzy_Result</targetReference>
        </connector>
        <inputParameters>
            <name>FuzzyWuzzy_logic</name>
            <value>
                <elementReference>FuzzyWuzzy_Logic</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>String01</name>
            <value>
                <elementReference>X1st_String</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>String02</name>
            <value>
                <elementReference>X2nd_String</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>PartialRatio</name>
        <choiceText>PartialRatio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PartialRatio</stringValue>
        </value>
    </choices>
    <choices>
        <name>SimpleRatio</name>
        <choiceText>SimpleRatio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SimpleRatio</stringValue>
        </value>
    </choices>
    <interviewLabel>FuzzyWuzzy Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FuzzyWuzzy Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>FuzzyWuzzy</name>
        <label>FuzzyWuzzy</label>
        <locationX>433</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FuzzyWuzzy_Scoring</targetReference>
        </connector>
        <fields>
            <name>FuzzyWuzzy_Logic</name>
            <choiceReferences>SimpleRatio</choiceReferences>
            <choiceReferences>PartialRatio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>FuzzyWuzzy Logic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X1st_String</name>
            <dataType>String</dataType>
            <fieldText>1st String</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X2nd_String</name>
            <dataType>String</dataType>
            <fieldText>2nd String</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FuzzyWuzzy_Result</name>
        <label>FuzzyWuzzy Result</label>
        <locationX>529</locationX>
        <locationY>273</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FuzzyWuzzy</targetReference>
        </connector>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;Method:{!FuzzyWuzzy_Logic}&lt;/p&gt;&lt;p&gt;1st String:{!X1st_String}&lt;/p&gt;&lt;p&gt;2nd String:{!X2nd_String}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;The score is: {!FuzzyWuzzy_Scoring.Score}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FuzzyWuzzy</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
